.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.form input,.form textarea{
    margin-bottom: 0;
}

.form p {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}